@media screen and (min-width: 800px) {
  .about {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
  .characters-flex-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: space-evenly;
    font-weight: bold;
    font-family: 'Fraunces', serif;
  }
  .samwise {
    width: 9.375em;
    height: 15em;
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 1em solid;
    border-image: url(https://i.imgur.com/3E3qeqy.png);
    border-image-slice: 20%;
    border-image-width: 20%;
    border-image-repeat: round;
  }
  .gloomhaven {
    width: 9.375em;
    height: 15em;
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 1em solid;
    border-image: url(https://i.imgur.com/3E3qeqy.png);
    border-image-slice: 20%;
    border-image-width: 20%;
    border-image-repeat: round;
  }
  .madrigal {
    width: 9.375em;
    height: 15em;
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 1em solid;
    border-image: url(https://i.imgur.com/3E3qeqy.png);
    border-image-slice: 20%;
    border-image-width: 20%;
    border-image-repeat: round;
  }
  .conjurer {
    width: 9.375em;
    height: 15em;
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 1em solid;
    border-image: url(https://i.imgur.com/3E3qeqy.png);
    border-image-slice: 20%;
    border-image-width: 20%;
    border-image-repeat: round;
  }
  .about-title {
    text-align: center;
  }
  .about-blurb {
    margin: 0% 20% 5% 20%;
    text-align: center;
  }
  h3 {
    font-size: 1em;
    width: 40vw;
    margin: 5% 0% 5% 0%;
  }
}
