@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Almendra+SC&display=swap');



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav{
  border-radius: 5px;  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  font-size: 2vw;
  font-weight: bold;
  background-color: #282c34;

}


.register-form {
  position: relative;
  background-color:rgba(0, 4, 8, 0.1) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 0.3em;
}
.input-wrapper{
  width: 100%;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

select{
  border-radius: .3em;

}

h1 {
  font-family: 'Almendra SC', serif;
}

p {
font-family: 'Almendra Display', cursive;
font-weight: bolder;
}

body {
  background: url(https://img.search.brave.com/txM9fa-Uq0m0rbbi7aioLhfXoANh8Cxqii2TDg7TCIg/fit/1200/1200/ce/1/aHR0cDovL2Nkbi53/YWxscGFwZXJzYWZh/cmkuY29tLzQ4LzE2/L3lkU0ZFTi5qcGc);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(22, 20, 20), rgb(65, 64, 64),rgb(17, 10, 10));
}

.nav   {
  margin: 0 1em;
  color: rgb(3, 20, 36); 
  text-decoration: none;
  font-family: 'Almendra SC', serif;
  color: white;

}
.nav:hover{
  transform: scale(1.2);
}

.login_and_CA {
  font-size: .65em;
}