.event-page {
  display: flex;
  justify-content: space-evenly;

  margin: auto 25px;
}

.event-page h1 {
  text-align: center;
}

.event-card {
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin: 5px 15px;
  padding: 10px;
}

.add-event form {
  display: flex;
  flex-direction: column;

  border: 1px solid #ffffff;
  border-radius: 50px;
  text-align: center;
}