button,
input {
  border: none;
  font-size: 1rem;
  background-color: rgb(241, 239, 239, .5);
  border-radius: 5px;
}
 
button {
  background-color: #E19402;
  border-radius: 50px;
  color: #ffffff;
  padding: 0.75rem 1rem;
  transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
}

button + button {
  margin-left: 0.25rem;
}

button:focus {
  box-shadow: 0 0 5px #42B0AE;
  outline: none;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

.col {
  background-color: rgb(241, 239, 239, .5);
  border-radius: 50px;
  color: #222222;
  padding: 1.5rem 2rem;
  text-align: left;
  margin: 150px;
  width: 300px;
}

.col input {
  border-bottom: 1px solid #532727;
  margin: 0.15rem 0 0.15rem;
  padding: 0.5rem 0;
  transition: border 0.3s ease-in;
}

input:focus {
  border-color: #1e90ff;
  outline: none;
}

input[type='text'],
input[type='password'] {
  width: 100%;
}

a {
  margin: 2em;
}