@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Fraunces:wght@500&display=swap');

.welcome {
    display: flex;
    margin: 150px auto;
    padding: 50px;
    border-radius: 50px;
    background: rgba(37, 37, 37, 0.5);
    max-width: 75em;
}

.welcome-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.pub-pic {
    border-radius: 50px;
    max-width: 40em;
    border: 3px solid black;
    margin: 20px;
}

p {
    font-size: 20px;
    font-family: 'Fraunces', serif;

}

h1 {
    font-size: 2em;
    font-family: 'Fraunces', serif;
    text-align:left;
}

button {
    background-color: rgba(255, 166, 0, 0.87);
    border-radius: 50px;
    border: 2px solid black;
    font-family: 'Almendra SC', serif;
    padding: .5em;
    margin: 2em 0;
    width: 100%;
    justify-content: center;

}