.thumbnail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 1rem; 
    margin: 4em;
  }
  .thumbnail-img {
    height: 7vh;
    border-radius: 40px;
  }
  
  .profile-layout-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'header1 header2 header3'
    'body-left body-mid body-right'
    'bod-left main main';
    grid-gap: 4vmin;
  }
  .user-events{
      display: flex;
      justify-content: space-evenly;
      grid-area: body-right;
      background-color: rgba(0, 255, 255, 0.5); 
      margin-right: 5em;
      border-radius: .95em;
  }
  .details{
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: body-left;
    margin: 4vw;
    background-color: rgba(255, 166, 0, 0.5);
    border-radius: .95em;
  } 
  .dashboard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'header1 body-mid header3'
    'body-left body-mid body-right';
    margin: 5vh;

  }
  .basic-info{
      display: grid;
      grid-area: body-left;
      margin: 3em;
      color: rgb(236, 225, 222);
      border-radius: 1em;
  }
  .info-form {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: body-mid;
    background-color: rgba(255, 166, 0, 0.5);
    border-radius: 1em;
    margin: 2em;
  }
  .name-and-pic{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: header2; 
  }
  .dash-pic{
    grid-area: header1;
    align-self: center;
    margin-left: 5vw;
    font-size: 2em;
  }

  .input-wrapper{
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
  
  .profilePicture {
    max-height: 35vh;
    width: auto;
    border-radius: 49%;
    align-self: center;
    border: solid 0.2em rgba(255, 166, 0, 0.87);;
  }
  .register-form {
    position: relative;
    background-color:rgba(0, 4, 8, 0.1) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 0.3em;
  }
  .event-link:hover{
    transform: scale(1.2);
    color: tomato;

  }