.safety-info {
  text-align: center;
}

.guidelines-title {
  text-align: center;
}
.guidelines-list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 1fr);
  justify-content: space-evenly;
}

.guideline-list-info {
  font-size: medium;
  width: 50vw;
}
.guideline-list-title {
  margin-top: 5%;
  margin-bottom: 0%;
  width: 50vw;
}
.disguise {
  max-height: 20vh;
  max-width: 20vw;
  display: inline-block;
}

.buddy-system {
  max-height: 20vh;
  max-width: 20vw;
  display: block;
  margin: auto;
}
.friendship {
  max-height: 20vh;
  max-width: 20vw;
  display: block;
  margin: auto;
}
.accessibility {
  max-height: 20vh;
  max-width: 20vw;
  display: block;
  margin: auto;
}
.fun {
  max-height: 20vh;
  max-width: 20vw;
  display: block;
  margin: auto;
}
